default-resources:
    slurm_account: "nhr-zdvhpc"
    slurm_partition: "smallcpu"
    mem_mb_per_cpu: 1800
    runtime: "30m"


set-resources:
    filter_reads:
        runtime: "2h"
    build_minimap_index:
        mem_mb_per_cpu: 3600
    map_reads:
        runtime: "3h"
        slurm_partition: "smallcpu" # needs benchmarking
    plot_samples:
        runtime: "3h"
    plot_all_samples:
        runtime: "2h"
    map_qc:
        runtime: "1h"
    bam_sort:
        runtime: "2h"
    sam_to_bam:
        runtime: "90m"
    count_reads:
        runtime: "1h"
    de_analysis:
        mem_mb_per_cpu: 5000
        runtime: "1h"
    build_flair_genome_index:
        mem_mb_per_cpu: 3600
    flair_align:
        mem_mb_per_cpu: 2500
        runtime: 300
    flair_correct:
        runtime: 180
    flair_collapse:
        cpus_per_task: 32
        mem_mb_per_cpu: 3600
        runtime: "2h"
    flair_quantify:
        cpus_per_task: 32
        runtime: "2h"
    flair_diffexp:
        mem_mb_per_cpu: 5000
        runtime: "2h"


set-threads:
    build_minimap_index: 4
    map_reads: 32
    plot_samples: 4
    plot_all_samples: 8
    map_qc: 8
    bam_sort: 8
    bam_index: 8
    bam_stats: 8
    count_reads: 8
    de_analysis: 8
    build_flair_genome_index: 4
    flair_align: 32
    flair_correct: 8
    flair_collapse: 32
    flair_quantify: 32
    flair_diffexp: 8